@import url('http://fonts.cdnfonts.com/css/cubicfive');

.fondoform{
    background-color: rgba(240, 248, 255, 0.834);
    margin-top: 100px;
    margin-left: 300px;
    margin-right:  300px;
    border-radius: 30px;
    
}
.tituloform{
    font-family: 'CubicFive11', sans-serif;
    font-size:xx-large;
    color: rgb(220, 94, 203);
    text-shadow: 2px 0 rgb(50, 3, 46), -2px 0 rgb(50, 3, 46), 0 2px rgb(50, 3, 46), 0 -2px rgb(50, 3, 46),
        1px 1px rgb(86, 7, 79), -1px -1px rgb(50, 3, 46), 1px -1px rgb(50, 3, 46), -1px 1px rgb(50, 3, 46);
}

.letraslabel{
    margin-top: 10px;
    font-family: 'CubicFive10', sans-serif;
    font-size:medium;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

.inputname{
    margin-left: 400px;
    margin-right: 400px;
    width: 250px;
    background-color: rgba(113, 61, 217, 0.318);
    color: rgb(247, 244, 250);


}
.inputdes{
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgba(113, 61, 217, 0.341);
    color: rgb(247, 244, 250);
}

::placeholder { 
    color: rgb(251, 251, 251); 
    font-size:x-large;
}

.inputda{
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
    width: 250px;
    background-color: rgba(113, 61, 217, 0.318);
    color: rgb(247, 244, 250);
}

.inputche{
    margin-top: 10px;
    display:inline-block;
    font-family: 'CubicFive10', sans-serif;
    font-size:medium;
    color: rgb(62, 39, 84);
}

.inputgenre{
    
    font-family: 'CubicFive11', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    width: 250px;
    background-color: rgba(113, 61, 217, 0.699);
    color: rgb(247, 244, 250);
    
}

.inputplat{
    margin-top: 40px;
    font-family: 'CubicFive11', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    width: 250px;
    background-color: rgba(113, 61, 217, 0.699);
    color: rgb(247, 244, 250);
}

.goback1{
    font-family: 'CubicFive11', sans-serif;
    font-size: medium;
    margin-left: 250px;
    margin-right: 300px;
    width: 250px;
    border-radius: 10px;
    color: rgb(250, 245, 249);
    background-color: rgba(220, 94, 203);

}

.goback2{
    font-family: 'CubicFive10', sans-serif;      
        color: rgb(255, 255, 255);            
        height: 25px;
        width: 100px;
        border-radius: 0px;
        border: 3px solid rgb(113, 61, 217);
        background-color: rgb(242, 241, 244);
        background: linear-gradient(90deg, rgb(113, 61, 217) 10%, rgb(88, 79, 184) 100%);
        margin-top: 10px;
        margin-bottom: 10px;
}

.lista{ list-style:none;
}

